################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Dotnet8Lab/Dotnet8Lab/bin
/Dotnet8Lab/Dotnet8Lab/obj
